In [ ]:
prit("welcome to Python world")

In [ ]:
print("radhika")

In [ ]:
a=10
print(a)
print("a=", id(a))
a="ajju"
print(a)
print(id(a))

#delete variable

a=40
print(a)

del a

In [ ]:
#anotation
a:int = 10
print(a)
print(__annotations__['a'])

In [ ]:
#string slicing #positive indexing
s="bangalore"
print(s[::])

In [ ]:
#negative indexing add +1 ie., -1:-3:0 and -1:-7:-1
s="bangalore"
print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])#positive indexing left to right starts frm -2 so no o/p  #positive indexing left to right for 2 and 3 parameter subtract -1
print(s[-1::-1])

In [ ]:
string="Hello,world!"
print(string[7:12])
print(string[-6:-1])

In [ ]:
string = "Python is fun!"
print(string[-1:-7:-2])

In [ ]:
#decision making-- day 3
#simple if

if 1>5:
  print("10 is greater than 5")
print("outside if block")

In [ ]:
#input stmt
name=input("enter ur name")
print("ur name is", name)

In [ ]:
n1=int(input("enter ur 1 number"))
n2=int(input("enter ur 2 number"))
#print(n1+n2)
if (n1>n2):
  print("n1 is greater")

In [ ]:
age=
int(input("enter ur age"))
if age >= 18 :
  print("welcome to vote")
  print("you can vote")
else:
  print("you cannot vote")
print("thank u")#

marks=int(input("enter your marks"))
if marks >=35 :
  print("you are passed")
else:
  print("you are fail")
print("thank you")

In [ ]:
#if elif else
grade = int(input("enter your score"))
if  grade >= 90:
  print("A grade")
elif grade >= 80:
  print("B grade")
elif grade >= 50:
  print("c grade")

else :
  print("fail")

In [ ]:
#nested if
num= int(input("enter ur number"))

if num> 0:
  print("number is positive number")
  if num%2==0 :
    print("number is even")
  else:
    print("number is odd")

else:
  print("number is negative")

In [ ]:
#while loop
i = 2
while i<=5:
  print(i)
  i=i+1

In [ ]:
#multiplicatoon
num = int(input("enter the table number"))
i = 1
while i<=10:
  print(i*num)
  i=i+1

In [ ]:
#for loop
for i in "Radikaiiii":
  print("hihi")

for i in [10,20,40]:
  print(i*3)

In [ ]:
from typing import Counter
v=['a','e','i','o','u']
string=input("enter your string:")
counter= 0

for i in string:
  if i in v:
    counter = counter +1
print(counter)

In [ ]:
#reverse string using slicing
#palindrome

In [ ]:
s = "malayalam"
print(s[::-1])

In [ ]:
string=(input("enter any word and check whether it is palindrome or not"))
print(string[::-1])

In [ ]:
s=input("enter any string")
if s==s[::-1]:
  print("yes!it is palindrome")
else:
  print("no")

In [ ]:
#split() count
s="i+live_in+blr"
s.split('+' , 2)

In [ ]:
#datastructers
#1.list
#2tuple
#3 dict
#4. set

In [ ]:
#list
l=[10,20,30,1.2,'AJJU']
print(l)
print(type(l))

In [ ]:
#list indexing
l1=[10,20,40,5.6,[1,2,3],"ajju"]
print(l1[2])
print(l1[-2])
print(l1[4][0])

In [ ]:
#list slicing
l1=[10,20,40,5.6,[1,2,3],"ajju"]
print(l1[::])

In [ ]:
#concatination of lists
l1=[2,3,4]
l2=[4,5,6]
l3=l1+l2
print(l3)

In [ ]:
#mul list
l1=[10,20,30]
print(l1*2)

In [ ]:
#list iteration
l1=[10,20,30]
for i in l1:
  print(i+1)

In [ ]:
# list membership
l1=[10,6,7]
print(10 in l1)

In [ ]:
#list del
l1=[10,20,50]
print(l1)
del(l1[1])
print(l1)

In [ ]:
#max element list

l1=[10,20,30]
print(max(l1))

l2=["apple","adhiiii","aj"]
print(max(l2, key=len))

In [ ]:
#min ele list

In [ ]:
#max element list

l1=[6,10,20,30]
print(min(l1))

In [ ]:
#append method
l1=[10,20,30]
l1.append(1.23)
print(l1)

In [ ]:
#dictionary
dict1={"pp":"al", "qq":"radhi"}
print(dict1)
print(type(dict1))

#access the dict
print(dict1["pp"])

In [ ]:
dict1={9882:["radhi", 22, "hh hyd"], 9881:("ajju",44, "mum")}
print(dict1)
dict1[9883]="krish" #adding new key -pair
print(dict1)

In [ ]:
#dict del key
dict1={9882:["radhi", 22, "hh hyd"], 9881:("ajju",44, "mum")}
print(dict1)
del dict1[9882]
print(dict1)
#value = dict1.pop(9881) #pop - returns the del value
#print(value)
#print(dict1)

In [ ]:
#Set
s1={10,20,30,79}
print(s1)
print(type(s1))

In [ ]:
#set const
s2=set("radh ika")
print(s2)
print(type(s2))

In [ ]:
#set
s={10,20,30}
s.add(7)

s.update([67,98])
print(s)

In [ ]:
#remove
s={19,59,54}
s.remove(19)

print(s)

In [ ]:
#discard
s={56,86,98}
print(s.discard(777))
print(s)

In [ ]:
#pop
s={56,86,98}
print(s.pop())
print(s)

In [7]:
l1=[10,25,36,10,25,81]
uniquelist=[]
for i in l1:
  if i not in uniquelist:
    uniquelist.append(i)

print(uniquelist)

[10, 25, 36, 81]

In [13]:
# second largest numver
l1=[10, 20, 30, 40,59]
firsthighestnumber = max(l1)
print(firsthighestnumber)
l1.remove(59)
print(l1)
secondlargest=max(l1)
print(secondlargest)

59
[10, 20, 30, 40]
40