In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
print("radhika")

radhika

In [ ]:
a=10
print(a)
print("a=", id(a))
a="ajju"
print(a)
print(id(a))

#delete variable

a=40
print(a)

del a

In [ ]:
#anotation
a:int = 10
print(a)
print(__annotations__['a'])

10
<class 'int'>

In [ ]:
#string slicing #positive indexing
s="bangalore"
print(s[::])

bangalore

In [ ]:
#negative indexing add +1 ie., -1:-3:0 and -1:-7:-1
s="bangalore"
print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])#positive indexing left to right starts frm -2 so no o/p  #positive indexing left to right for 2 and 3 parameter subtract -1
print(s[-1::-1])

ero
eoan

erolagnab

In [ ]:
string="Hello,world!"
print(string[7:12])
print(string[-6:-1])

orld!
world

In [2]:
string = "Python is fun!"
print(string[-1:-7:-2])

!u

In [7]:
#decision making-- day 3
#simple if

if 1>5:
  print("10 is greater than 5")
print("outside if block")

outside if block

In [8]:
#input stmt
name=input("enter ur name")
print("ur name is", name)

enter ur numberradhika
ur name is radhika

In [11]:
n1=int(input("enter ur 1 number"))
n2=int(input("enter ur 2 number"))
#print(n1+n2)
if (n1>n2):
  print("n1 is greater")

enter ur 1 number15
enter ur 2 number6
n1 is greater

In [ ]:
age=int(input("enter ur age"))
if age >= 18 :
  print("welcome to vote")
  print("you can vote")
else:
  print("you cannot vote")
print("thank u")#

marks=int(input("enter your marks"))
if marks >=35 :
  print("you are passed")
else:
  print("you are fail")
print("thank you")

In [ ]:
#if elif else
grade = int(input("enter your score"))
if  grade >= 90:
  print("A grade")
elif grade >= 80:
  print("B grade")
elif grade >= 50:
  print("c grade")

else :
  print("fail")