In [ ]:
prit("welcome to Python world")

In [ ]:
my_list = [['tiger', 'lion', 'leopard'], ['came', 'llama', 'alpaca'], ['zebra', 'donkey', 'wildebeest']]

for x in my_list:
    print(x)

In [ ]:
print("radhika")

In [ ]:
a=10
print(a)
print("a=", id(a))
a="ajju"
print(a)
print(id(a))

#delete variable

a=40
print(a)

del a

In [ ]:
#anotation
a:int = 10
print(a)
print(__annotations__['a'])

In [ ]:
#string slicing #positive indexing
s="bangalore"
print(s[::])

In [ ]:
#negative indexing add +1 ie., -1:-3:0 and -1:-7:-1
s="bangalore"
print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])#positive indexing left to right starts frm -2 so no o/p  #positive indexing left to right for 2 and 3 parameter subtract -1
print(s[-1::-1])

In [ ]:
string="Hello,world!"
print(string[7:12])
print(string[-6:-1])

In [ ]:
string = "Python is fun!"
print(string[-1:-7:-2])

In [ ]:
#decision making-- day 3
#simple if

if 1>5:
  print("10 is greater than 5")
print("outside if block")

In [ ]:
#input stmt
name=input("enter ur name")
print("ur name is", name)

In [ ]:
n1=int(input("enter ur 1 number"))
n2=int(input("enter ur 2 number"))
#print(n1+n2)
if (n1>n2):
  print("n1 is greater")

In [ ]:
age=
int(input("enter ur age"))
if age >= 18 :
  print("welcome to vote")
  print("you can vote")
else:
  print("you cannot vote")
print("thank u")#

marks=int(input("enter your marks"))
if marks >=35 :
  print("you are passed")
else:
  print("you are fail")
print("thank you")

In [ ]:
#if elif else
grade = int(input("enter your score"))
if  grade >= 90:
  print("A grade")
elif grade >= 80:
  print("B grade")
elif grade >= 50:
  print("c grade")

else :
  print("fail")

In [ ]:
#nested if
num= int(input("enter ur number"))

if num> 0:
  print("number is positive number")
  if num%2==0 :
    print("number is even")
  else:
    print("number is odd")

else:
  print("number is negative")

In [ ]:
#while loop
i = 2
while i<=5:
  print(i)
  i=i+1

In [ ]:
#multiplicatoon
num = int(input("enter the table number"))
i = 1
while i<=10:
  print(i*num)
  i=i+1

In [ ]:
#for loop
for i in "Radikaiiii":
  print("hihi")

for i in [10,20,40]:
  print(i*3)

In [ ]:
from typing import Counter
v=['a','e','i','o','u']
string=input("enter your string:")
counter= 0

for i in string:
  if i in v:
    counter = counter +1
print(counter)

In [ ]:
#reverse string using slicing
#palindrome

In [ ]:
s = "malayalam"
print(s[::-1])

In [ ]:
string=(input("enter any word and check whether it is palindrome or not"))
print(string[::-1])

In [ ]:
s=input("enter any string")
if s==s[::-1]:
  print("yes!it is palindrome")
else:
  print("no")

In [ ]:
#split() count
s="i+live_in+blr"
s.split('+' , 2)

In [ ]:
#datastructers
#1.list
#2tuple
#3 dict
#4. set

In [ ]:
#list
l=[10,20,30,1.2,'AJJU']
print(l)
print(type(l))

In [ ]:
#list indexing
l1=[10,20,40,5.6,[1,2,3],"ajju"]
print(l1[2])
print(l1[-2])
print(l1[4][0])

In [ ]:
#list slicing
l1=[10,20,40,5.6,[1,2,3],"ajju"]
print(l1[::])

In [ ]:
#concatination of lists
l1=[2,3,4]
l2=[4,5,6]
l3=l1+l2
print(l3)

In [ ]:
#mul list
l1=[10,20,30]
print(l1*2)

In [ ]:
#list iteration
l1=[10,20,30]
for i in l1:
  print(i+1)

In [ ]:
# list membership
l1=[10,6,7]
print(10 in l1)

In [ ]:
#list del
l1=[10,20,50]
print(l1)
del(l1[1])
print(l1)

In [ ]:
#max element list

l1=[10,20,30]
print(max(l1))

l2=["apple","adhiiii","aj"]
print(max(l2, key=len))

In [ ]:
#min ele list

In [ ]:
#max element list

l1=[6,10,20,30]
print(min(l1))

In [ ]:
#append method
l1=[10,20,30]
l1.append(1.23)
print(l1)

In [ ]:
#dictionary
dict1={"pp":"al", "qq":"radhi"}
print(dict1)
print(type(dict1))

#access the dict
print(dict1["pp"])

In [ ]:
dict1={9882:["radhi", 22, "hh hyd"], 9881:("ajju",44, "mum")}
print(dict1)
dict1[9883]="krish" #adding new key -pair
print(dict1)

In [ ]:
#dict del key
dict1={9882:["radhi", 22, "hh hyd"], 9881:("ajju",44, "mum")}
print(dict1)
del dict1[9882]
print(dict1)
#value = dict1.pop(9881) #pop - returns the del value
#print(value)
#print(dict1)

In [ ]:
#Set
s1={10,20,30,79}
print(s1)
print(type(s1))

In [ ]:
#set const
s2=set("radh ika")
print(s2)
print(type(s2))

In [ ]:
#set
s={10,20,30}
s.add(7)

s.update([67,98])
print(s)

In [ ]:
#remove
s={19,59,54}
s.remove(19)

print(s)

In [ ]:
#discard
s={56,86,98}
print(s.discard(777))
print(s)

In [ ]:
#pop
s={56,86,98}
print(s.pop())
print(s)

In [ ]:
l1=[10,25,36,10,25,81]
uniquelist=[]
for i in l1:
  if i not in uniquelist:
    uniquelist.append(i)

print(uniquelist)

In [ ]:
# second largest numver
l1=[10, 20, 30, 40,59]
firsthighestnumber = max(l1)
print(firsthighestnumber)
l1.remove(59)
print(l1)
secondlargest=max(l1)
print(secondlargest)

In [ ]:
#program to get occrance of numbers in list
l1=[2,3,4,5,6,6]
l2=[]
for i in l1:
  if i not in l2:
    l2.append(i)
    print(i,"occurs" , l1.count(i),"times")

In [ ]:
#tuple
t1=(10,20,30,50,60)
print(t1)
print(type(t1))

In [ ]:
#tuple creation using constructor
l1=[30,40]
t1=tuple(l1)
print(t1)
print(type(t1))
print(l1)

In [ ]:
#tuple indexing
t1=(10,30,"radhi",89)
print(t1[2])

In [ ]:
#concatination
t1=(18,56,78)
new =t1+(5,8)
print(new)

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("The factorial of", num, "is", factorial)

In [ ]:
from pathlib import PureWindowsPath
def cal():
  print("select opeartion")
  print(" 1 for add")
  print("2: sub")
  print("3 : mul")
  print("4:div")
  choice=input("enter 1/2/3/4:")
  num1=int(input("enter the first num"))
  num2=int(input("enter the sec num"))
  if choice=='1':
    print(num1+num2)
  elif choice=='2':
    print(num1-num2)
  elif choice=='3':
    print(num1/num2)
    if num2 !=0:
      print(num1/num2)
    else:
      print("cannot be divide")
  else:
     PureWindowsPath("invalid i/p")
cal()

In [ ]:
string = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = sum(1 for char in string if char in vowels)
print(f"Number of vowels in the string: {count}")

In [ ]:
principal = float(input("Enter principal amount: "))
rate = float(input("Enter annual interest rate (in %): "))
time = float(input("Enter time (in years): "))

simple_interest = (principal * rate * time) / 100
print("Simple Interest is:", simple_interest)

In [ ]:
# Extract only even numbers from a list
numbers = [1, 2, 3, 4, 5, 6]
#even_numbers = [num for num in numbers if num % 2 == 0]
even=[num for num in numbers if num % 2 == 0]
print("Even Numbers:", even)

In [ ]:
# Join list elements into a single string
words = ["Hello", "World", "Python"]
#sentence = " ".join(words)
sentence=" ".join(words)
print("Sentence:", sentence)

In [ ]:
# Count how many times an element appears
colors = ["red", "blue", "red", "green", "blue", "red"]
red_count = colors.count("red")
print("Count of /red:", red_count)

In [ ]:
# Remove elements by index
my_list = [0, 1, 2, 3, 4, 5]
indices_to_remove = [1, 4]
result = [value for index, value in enumerate(my_list) if index not in indices_to_remove]
#result=
print("Updated List:", result)
print(enumerate(my_list))

In [ ]:
location = (37.7749, -122.4194)  # San Francisco, USA
#print(f"Latitude- {location[1]}, Longitude: {location[1]}")
#location = (37.7749, -122.4194)  # San Francisco, USA
print(f"latitude: {location[0]}, longitude: {location}")

In [ ]:
def calculate_metrics(values):
    return (min(values), max(values), sum(values) / len(values))

data = [10, 20, 30, 40]
metrics = calculate_metrics(data)
print(f"Min: {metrics[0]}, Max: {metrics[1]}, Avg: {metrics[2]}")

In [ ]:
sales_data = {("Jan", 2025): 1500, ("Feb", 2025): 1800}
print(sales_data[("Jan", 2025)])

In [ ]:
csv_row = ("Alice", "Engineer", 28)
print(f"Name: {csv_row[0]}, Profession: {csv_row[1]}, Age: {csv_row[2]}")

In [ ]:
log_entry = ("2025-04-28 16:00:00", "INFO", "System started")
print(f"Log: {log_entry[2]}")

In [ ]:
def calculate_area_and_perimeter(length, breadth):
    return (length * breadth, 2 * (length + breadth))

result = calculate_area_and_perimeter(5, 3)
print(f"Area: {result}, Perimeter: {result[1]}")

In [ ]:
t = (1,2,[3,9])
t[2][0]=5
print(t)

In [ ]:
#simple functions
def fun():
  print("hello radhika")
  print("welcome")
print("before func call")
fun()
print("aftr fun")

In [ ]:
#square of num
#without args withot return values
def square():
  x=int(input("enter the number"))
  y=x**2
  print("square of",x,"is",y)
  #return(num*num)
square()

In [ ]:
#with args with return values

def square(x):
  #y=x**2
  return x**2
x=int(input("enter the number"))
res= square(x)
print(res)

In [ ]:
#with args ,without return values
def square(x):
  y=x**2
  print("square of",x,"is",y)
x=int(input("enter num"))
square(x)

In [ ]:
#without args with return values
def square():
  x=int(input("enter num"))
  y=x**2
  return y
res=square()
print(res)

In [ ]:
#return stmt
#return multiple values
def test(a,b,c,d):
  return(a,b,c,d)

x,y,z,k=test(10,20,30,6)
print(x,y,z,k)

In [ ]:
def func1(a,b,c,d):
  return a,b,c,d

_,val2,_,val4 = func1(10,20,30,40)
print(val2, val4)

20 40

In [ ]:
def greet(name):
    """This function greets the person passed as an argument."""
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

In [1]:
#function callinf another fun
def test1():
  print("im inside test1")
  test2()#fn call
  print("back to test1")
def test2():
  print("im in test2")
  print("going back")
test1()#fn call
print("end of program")

im inside test1
im in test2
going back
back to test1

In [2]:
#local var -life - memory will deallocate after the execution
def test():
  x=10
  x=x+1
  print(x)
test()
test()
test()

11
11
11

In [3]:
#local variable-scope
def test():
  x=10
  x=x+1
  print(x)
test()
print(x)
test()
test()

11

NameError: name 'x' is not defined

In [5]:
#global var
n=10
def fun():
  print(n)
fun()
print(n)

10
10

In [6]:
#global var
n=10
def fun():
  n=5#local var
  print(n)
fun()
print(n)

5
10

In [9]:
#global var
n=10
def fun():
  global n #global keyword
  n=n+1
  print(n)
fun()
print(n)

11
11