In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
print("radhika")

radhika

In [ ]:
a=10
print(a)
print("a=", id(a))
a="ajju"
print(a)
print(id(a))

#delete variable

a=40
print(a)

del a

In [ ]:
#anotation
a:int = 10
print(a)
print(__annotations__['a'])

10
<class 'int'>

In [ ]:
#string slicing #positive indexing
s="bangalore"
print(s[::])

bangalore

In [ ]:
#negative indexing add +1 ie., -1:-3:0 and -1:-7:-1
s="bangalore"
print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])#positive indexing left to right starts frm -2 so no o/p  #positive indexing left to right for 2 and 3 parameter subtract -1
print(s[-1::-1])

ero
eoan

erolagnab

In [ ]:
string="Hello,world!"
print(string[7:12])
print(string[-6:-1])

orld!
world

In [2]:
string = "Python is fun!"
print(string[-1:-7:-2])

!u

In [7]:
#decision making-- day 3
#simple if

if 1>5:
  print("10 is greater than 5")
print("outside if block")

outside if block

In [8]:
#input stmt
name=input("enter ur name")
print("ur name is", name)

enter ur numberradhika
ur name is radhika

In [11]:
n1=int(input("enter ur 1 number"))
n2=int(input("enter ur 2 number"))
#print(n1+n2)
if (n1>n2):
  print("n1 is greater")

enter ur 1 number15
enter ur 2 number6
n1 is greater

In [1]:
age=
int(input("enter ur age"))
if age >= 18 :
  print("welcome to vote")
  print("you can vote")
else:
  print("you cannot vote")
print("thank u")#

marks=int(input("enter your marks"))
if marks >=35 :
  print("you are passed")
else:
  print("you are fail")
print("thank you")

enter ur age34
welcome to vote
you can vote
thank u
enter your marks45
you are passed
thank you

In [ ]:
#if elif else
grade = int(input("enter your score"))
if  grade >= 90:
  print("A grade")
elif grade >= 80:
  print("B grade")
elif grade >= 50:
  print("c grade")

else :
  print("fail")

In [ ]:
#nested if
num= int(input("enter ur number"))

if num> 0:
  print("number is positive number")
  if num%2==0 :
    print("number is even")
  else:
    print("number is odd")

else:
  print("number is negative")

In [ ]:
#while loop
i = 2
while i<=5:
  print(i)
  i=i+1

In [15]:
#multiplicatoon
num = int(input("enter the table number"))
i = 1
while i<=10:
  print(i*num)
  i=i+1

enter the table number5
5
10
15
20
25
30
35
40
45
50

In [19]:
#for loop
for i in "Radikaiiii":
  print("hihi")

for i in [10,20,40]:
  print(i*3)

hihi
hihi
hihi
hihi
hihi
hihi
hihi
hihi
hihi
hihi
30
60
120

In [ ]:
from typing import Counter
v=['a','e','i','o','u']
string=input("enter your string:")
counter= 0

for i in string:
  if i in v:
    counter = counter +1
print(counter)

In [ ]:
#reverse string using slicing
#palindrome

In [1]:
s = "malayalam"
print(s[::-1])

malayalam

In [6]:
string=(input("enter any word and check whether it is palindrome or not"))
print(string[::-1])

enter any word and check whether it is palindrome or nottop
pot

In [10]:
s=input("enter any string")
if s==s[::-1]:
  print("yes!it is palindrome")
else:
  print("no")

enter any stringhi